{% load staticfiles %}
<html lang="en" >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>
<link rel = "stylesheet"  type = "text/css" href = "{% static 'bootstrap.min.css' %}" />
<link rel="icon" href="https://1.bp.blogspot.com/-3MiqCmm_Nhg/Wn1_B1cjrRI/AAAAAAAALvo/Q-0ZZehrtfYNqp77dHMyxBwPGjQOtmxlgCLcBGAs/s1600/favicon.png" type="image/png">
<script src="{% static 'jquery-2.1.1.js' %}"></script>
<style>
https://1.bp.blogspot.com/-3MiqCmm_Nhg/Wn1_B1cjrRI/AAAAAAAALvo/Q-0ZZehrtfYNqp77dHMyxBwPGjQOtmxlgCLcBGAs/s1600/favicon.png
.cd-header {position: relative;height: 80px;background-color: #331d35;color:white;text-align:center;padding-top:15px;}
.selectList{margin-top:10px;color:#6C7A89;font: italic bold 20px/30px Georgia, serif;
}
</style>
</head>
<body>
	<div id="content">
        {% block content %}
        {% endblock %}
  </div>


</body>

</html>






