{% extends "rest_data/base.html" %}
{% load humanize %}
{% block title %}exchange data{% endblock %}
{% block content %}

<header class="cd-header">
  <h2>Exchange Data</h2>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">

      <div class="checkbox" id="filter">
        <p><input class="btn btn-primary" type="button" value="Copy Data"  onclick="selectElementContents( document.getElementById('example') );" />
        </p>
         <p><input class="btn btn-primary" type="button" value="Save" id="saveData"/> &nbsp;
           <input class="btn btn-primary" type="button" value="Clear" id="clearData"/> &nbsp;
           <input class="btn btn-primary" type="button" value=">>" id="showList"/>
        </p>
         <p><input class="btn btn-primary" type="button" value="Refresh" id="ClickMe"/>
        </p>

        <label><input id="selectAll" type="checkbox" > Select All</label>

        <div id="bittrexButton" class="selectList"
             onmouseover="this.style.color='blue';" onmouseout="this.style.color='#6C7A89';">Bittrex</div>
        <div id="bittrexSelectList">
          {% for pair in bittrex_pair %}
          <label>
            <input class="checkboxClass" name="checkboxList" type="checkbox"  value="{{pair}}bitt" id="{{pair}}bitt"> {{pair}}
          </label><br>
          {% endfor %}
        </div>

        <div id="bxthButton" class="selectList"
             onmouseover="this.style.color='blue';" onmouseout="this.style.color='#6C7A89'; ">Bxth</div>
        <div id="bxthSelectList">
          {% for pair in bxth_pair %}
          <label>
            <input class="checkboxClass" name="checkboxList"  type="checkbox"  value="{{pair}}bxth" id="{{pair}}bxth"> {{pair}}
          </label><br>
          {% endfor %}
        </div>

        <div id="rocktradingButton" class="selectList"
             onmouseover="this.style.color='blue';" onmouseout="this.style.color='#6C7A89';">Rocktrading</div>
        <div id="rocktradingSelectList">
          {% for pair in rocktrading_pair %}
          <label>
            <input class="checkboxClass" name="checkboxList"  type="checkbox"  value="{{pair}}rock" id="{{pair}}rock"> {{pair}}
          </label><br>
          {% endfor %}
        </div>

        <div id="hitbtcButton" class="selectList"
             onmouseover="this.style.color='blue';" onmouseout="this.style.color='#6C7A89';">Hitbtc</div>
        <div id="hitbtcSelectList">
          {% for pair in hitbtc_pair %}
          <label>
            <input class="checkboxClass" name="checkboxList"  type="checkbox"  value="{{pair}}hit" id="{{pair}}hit"> {{pair}}
          </label><br>
          {% endfor %}
        </div>

        <div id="krakenButton" class="selectList"
             onmouseover="this.style.color='blue';" onmouseout="this.style.color='#6C7A89';">Kraken</div>
        <div id="krakenSelectList">
          {% for pair in kraken_pair %}
          <label>
            <input class="checkboxClass" name="checkboxList"  type="checkbox"  value="{{pair}}kra" id="{{pair}}kra"> {{pair}}
          </label><br>
          {% endfor %}
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <table class="table table-striped" id="example"  class="display">
        <thead>
        <tr >
          <th>Exchange</th>
          <th>Currency</th>
          <th>Bid Qty</th>
          <th>Bid</th>
          <th>Ask</th>
          <th>Ask Qty</th>
        </tr>
        </thead>
        <tbody id="tabela1">


        {% for currency,data in bittrex.items %}
        <tr>
          <td style="display:none;" class="currencyy" >{{currency}}bitt</td>
          <td >Bittrex </td>
          <td >{{currency}}</td>
          <td >{{data.bid_qty}}</td>
          <td >{{data.bid |floatformat:8|intcomma}}</td>
          <td >{{data.ask |floatformat:8|intcomma}}</td>
          <td >{{data.ask_qty}}</td>
        </tr>
        {% endfor %}

        {% for currency,data in bxth.items %}
        <tr>
          <td style="display:none;" class="currencyy" >{{currency}}bxth</td>
          <td >Bxth </td>
          <td>{{currency}}</td>
          <td >{{data.bid_qty}}</td>
          <td >{{data.bid |floatformat:8|intcomma}}</td>
          <td >{{data.ask |floatformat:8|intcomma}}</td>
          <td >{{data.ask_qty}}</td>
        </tr>
        {% endfor %}

        {% for currency,data in rocktrading.items %}
        <tr>
          <td style="display:none;" class="currencyy" >{{currency}}rock</td>
          <td >Rocktrading </td>
          <td >{{currency}}</td>
          <td >{{data.bid_qty}}</td>
          <td >{{data.bid |floatformat:8|intcomma}}</td>
          <td >{{data.ask |floatformat:8|intcomma}}</td>
          <td >{{data.ask_qty}}</td>
        </tr>
        {% endfor %}

        {% for currency,data in hitbtc.items %}
        <tr>
          <td style="display:none;" class="currencyy" >{{currency}}hit</td>
          <td >Hitbtc </td>
          <td >{{currency}}</td>
          <td >{{data.bid_qty}}</td>
          <td >{{data.bid |floatformat:8|intcomma}}</td>
          <td >{{data.ask |floatformat:8|intcomma}}</td>
          <td >{{data.ask_qty}}</td>
        </tr>
        {% endfor %}

        {% for currency,data in kraken.items %}
        <tr>
          <td style="display:none;" class="currencyy" >{{currency}}kra</td>
          <td >Kraken </td>
          <td >{{currency}}</td>
          <td >{{data.bid_qty}}</td>
          <td >{{data.bid |floatformat:8|intcomma}}</td>
          <td >{{data.ask|floatformat:8|intcomma}}</td>
          <td >{{data.ask_qty}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Saved List</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <p id="listData"></p>
      </div>

    </div>

  </div>
</div>

</div>


<script>
  $(document).ready(function () {

 $("#hitbtcSelectList").hide();
 $("#rocktradingSelectList").hide();
 $("#bittrexSelectList").hide();
 $("#bxthSelectList").hide();
 $("#krakenSelectList").hide();
 $("#thead").show();
loadCheckBoxList();
 $("#ClickMe").click(function () {
var a = $("input:checkbox:checked").map(function () {
         return $(this).val()
     }).toArray();
     localStorage.setItem("exchangeAppRefreshData", JSON.stringify(a));
     location.reload();
});

$("#saveData").click(function () {
var arr = [];
var a = $("input:checkbox:checked").map(function () {
         return $(this).val()
     }).toArray();
     for(i = 0 ; i < 1000 ; i++){
          tempData = localStorage.getItem("exchangeAppSaveData"+i);
          if((typeof tempData === "undefined" || tempData === null  || tempData == "null")){
            localStorage.setItem("exchangeAppSaveData"+i, JSON.stringify(a));
            break;
          }
      }
     alert("Data Save successfully");
});

$("#showList").click(function () {
var toShow = "";
for( i = 0; i < 1000 ; i++){
          tempData = localStorage.getItem("exchangeAppSaveData"+i);
          if(!(typeof tempData === "undefined" || tempData === null  || tempData == "null")){
              var a = JSON.parse(tempData);
            toShow += "<div>"+a+"  <input type='button' value='use' onclick='savedList("+a+")'> </div>";
          }else{
          break;
          }
      }

     document.getElementById("listData").innerHTML = toShow;
       $('#myModal').modal('show');

});



$("#clearData").click(function () {
 if (confirm("Sure, You want to clear data")) {

    for( i = 0; i < 1000 ; i++){
          tempData = localStorage.getItem("exchangeAppSaveData"+i);
          if(!(typeof tempData === "undefined" || tempData === null  || tempData == "null")){
              localStorage.setItem("exchangeAppSaveData"+i, null);
          }else{
          break;
          }
      }

  location.reload();
    } else {
    }
});







   function loadCheckBoxList() {
   var exchangeAppRefreshData = localStorage.getItem("exchangeAppRefreshData");
   var exchangeAppSaveData = localStorage.getItem("exchangeAppSaveData0");
    var a = JSON.parse(exchangeAppRefreshData);
    <!--console.log(a)-->
    <!--console.log(typeof a)-->
   if((typeof a !== 'undefined' && a != null && a != "null") || (typeof b !== 'undefined' && b != null && b != "null") ){
    if(!(typeof a !== 'undefined' && a != null && a != "null")){
      a = b;
    }
     $('input[name=checkboxList]').map(function () {
         if(($.inArray($(this).val(), a) != -1)){
          console.log($(this).val())
          <!--console.log(typeof $(this).val())-->
          $("#" + $(this).val()).prop('checked', true);
          <!--$(".BTC-DYN").prop('checked', true);-->
         }
     });

     <!--var a1 = $("input:checkbox:checked").map(function () {-->
       <!--return $(this).val()-->
    <!--}).get();-->
    <!--alert(a1)-->

  applyFilter(a);
   }
   else{
     $("#selectAll").prop('checked', true);
     <!--$(".checkboxClass").prop('checked', true);-->

   }
};

$("input:checkbox").on("change", function () {
    var a = $("input:checkbox:checked").map(function () {
        return $(this).val()
    }).get();
    applyFilter(a);
}).first().change();


});



$("#hitbtcButton").click(function(){
    $("#hitbtcSelectList").toggle();
});
$("#rocktradingButton").click(function(){
    $("#rocktradingSelectList").toggle();
});
$("#bittrexButton").click(function(){
   $("#bittrexSelectList").toggle();
});
$("#bxthButton").click(function(){
  $("#bxthSelectList").toggle();
});
$("#krakenButton").click(function(){
  $("#krakenSelectList").toggle();
});
$("#selectAll").change(function() {
var a = localStorage.getItem("exchangeAppRefreshData");
    if(!((typeof a !== 'undefined' && a != null && a != "null") || (typeof b !== 'undefined' && b != null && b != "null"))){
   if(this.checked) {
      $(".checkboxClass").prop('checked', true);
   }else{
      $(".checkboxClass").prop('checked', false);
   }
   }else{
   localStorage.exchangeAppRefreshData = null;
   }
});


function selectElementContents(el) {
    var body = document.body, range, sel;
    if (document.createRange && window.getSelection) {
        range = document.createRange();
        sel = window.getSelection();
        sel.removeAllRanges();
        try {
            range.selectNodeContents(el);
            sel.addRange(range);
            copySelectionText();


        } catch (e) {
            range.selectNode(el);
            sel.addRange(range);
        }
    } else if (body.createTextRange) {
        range = body.createTextRange();
        range.moveToElementText(el);
        range.select();

    }
}


function copySelectionText(){
    var copysuccess // var to check whether execCommand successfully executed
    try{
        copysuccess = document.execCommand("copy") // run command to copy selected text to clipboard
    } catch(e){
        copysuccess = false
    }
    return copysuccess
}


 function savedList(a){
          if((typeof a !== 'undefined' && a != null && a != "null")){
     $('input[name=checkboxList]').map(function () {
         if(($.inArray($(this).val(), a) != -1)){
          $("#" + $(this).val()).prop('checked', true);
         }
     });
  applyFilter(a);
   }

    };

  function applyFilter(checkBoxList){
                        $("#tabela1 tr").hide();
                        var currencies = $(".currencyy").filter(function () {
                            var currencyy = $(this).text(),
                                index = $.inArray(currencyy, checkBoxList);
                            return index >= 0
                        }).parent().show();
                        $("#thead").show();
    }
</script>

{% endblock %}


